.headerimg{
    width: 50px;
    height: 50px;
    margin: 0% 0% 0% 46%;
  }
  .navbarcustom {
    width: 100%;
    background-color: #555;
    padding: 8px;
  }
  img:hover{
    cursor: pointer;
  }
  .navbarcustom button {
    float: left;
    color: white;
    text-decoration: none;
    font-size: 17px;
    background-color: #d01407;
  }
  h3 {
    text-align: center;
  }
  .navbarcustom button:hover {
    background-color: #000;
  }
  .navbar-brand-font{
    font-weight: 900;
  }

 