<nav class="clr1 navbar navbar-expand-lg navbar-dark bg-dark">
  <img class="headerimg" src="src/assets/images/library_books.png" />
  <a class="navbar-brand navbar-brand-font" href="#">LIBRARY</a>
  <div *ngIf="authtoken()" class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <div *ngIf = "getUserRole() == 'ADMIN'" class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active clr1" id="nav-home-tab" (click)="clickLibrary()" data-toggle="tab" role="tab" aria-controls="nav-home"
          aria-selected="true">Libraries</a>
        <a class="nav-item nav-link" id="nav-profile-tab" (click)="clickBooks()" data-toggle="tab"  role="tab" aria-controls="nav-profile"
          aria-selected="false">Books</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact"
          aria-selected="false">Others</a>
      </div>
  </ul>
  </div>
  <form *ngIf="authtoken()" class="form-inline">
    <button (click)="logOut()" class="btn btn-outline-info my-2 my-sm-0" type="submit">Logout</button>
  </form>
</nav>