<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img class="headerimg" src="src/assets/images/library_books.png"/>
    <a class="navbar-brand navbar-brand-font" href="#">LIBRARY</a>
    <div *ngIf="authtoken()" class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
      </ul>
    </div>
    <form *ngIf="authtoken()" class="form-inline">
        <button (click)="logOut()" class="btn btn-outline-info my-2 my-sm-0" type="submit">Logout</button>
      </form>
  </nav>