.headerimg{
    width: 50px;
    height: 50px;
    margin: 0% 0% 0% 46%;
  }

  .navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  .navbar button {
    float: left;
    padding: 6px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin: 9px;
    background-color: #d01407;
  }
  
  .navbar button:hover {
    background-color: #000;
  }
  
  .active {
    background-color: #4CAF50;
  }
  .nav-right{
    float: right
  }