<div class="container">
  <div class="app-form">
    <div class="main-div">
      <div class="panel">
        <h2>Login</h2>
        <p>Please enter your email and password</p>
      </div>
      <form id="Login" [formGroup]="formdata" (ngSubmit)="login(formdata.value)">
        <div class="form-group">
          <input type="email" class="form-control" id="inputEmail" formControlName="email" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="inputPassword" formControlName="password" placeholder="Password">
        </div>
        <div class="forgot">
          <a (click)="signUp()">Create account</a> or 
          <a data-toggle="modal" data-target="#myModal">Forgot password</a>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade in">
  <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-header">
              <a class="btn btn-default" data-dismiss="modal"><i class="material-icons">
                close
                </i></a>
              <h4 class="modal-title">Forgot Password</h4>
          </div>
          <div class="modal-body">
            <form id="Login" [formGroup]="formdata" (ngSubmit)="login(formdata.value)">
              <div class="form-group">
                <input type="email" class="form-control" name="name" placeholder="Enter Email">
              </div>
            </form>
          </div>
          <div class="modal-footer">
              <div class="btn-group">
                  <button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                  <button class="btn btn-primary"><span class="glyphicon glyphicon-check"></span> Send</button>
              </div>
          </div>

      </div><!-- /.modal-content -->
  </div><!-- /.modal-dalog -->
</div><!-- /.modal -->


