<div class="container">
  <div class="app-form">
    <div class="main-div">
      <div class="panel">
        <h2>Login</h2>
        <p>Please enter your email and password</p>
      </div>
      <form id="Login" [formGroup]="loginFormData" (ngSubmit)="login(loginFormData.value)">
        <div class="form-group">
          <input type="email" class="form-control" id="inputEmail"  formControlName="email" placeholder="Email">
        </div>
        <div class="alertValalidation" *ngIf="loginFormData.get('email').touched && loginFormData.get('email').hasError('required')">
          Email is required.
      </div>
        <div class="form-group">
          <input type="password" class="form-control" id="inputPassword"  formControlName="password" placeholder="Password">
        </div>
        <div class="alertValalidation" *ngIf="loginFormData.get('password').touched && loginFormData.get('password').hasError('required')">
          Password is required.
      </div>
        <div class="links">
          <a (click)="signUp()">Create account</a> or 
          <a data-toggle="modal" data-target="#forgotPassword">Forgot password?</a>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>

<div id="forgotPassword" class="modal fade in">
  <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-header">
              <a class="btn btn-default" data-dismiss="modal"><i class="material-icons">
                close
                </i></a>
              <h4 class="modal-title">Forgot Password</h4>
          </div>
          <div class="modal-body">
            <form *ngIf="!showConfirmFields">
              <div class="form-group">
                <input type="forgotPwdEmail" class="form-control" name="forgotPwdEmail" required [(ngModel)] = "forgotPwdEmail" placeholder="Enter Email">
              </div>
            </form>
            <div class="form-group">
              <span *ngIf="passwordKey">Enter this key below : <b>{{passwordKey}}</b></span>
            </div>
            <form *ngIf="showConfirmFields" id="changePassword" [formGroup]="changePwdConFormData" (ngSubmit)="changePassword(changePwdConFormData.value)" >
              {{changePwdConFormData.value| json}}
              <div class="form-group">
                <input type="text" class="form-control" formControlName="passwordKey"  placeholder="Key">
              </div>
              <div class="alertValalidation" *ngIf="changePwdConFormData.get('passwordKey').touched && changePwdConFormData.get('passwordKey').hasError('required')">
                Key is required.
            </div>
              <div class="form-group">
                <input type="password" class="form-control" formControlName="password"  placeholder="New Password">
              </div>
              <div class="alertValalidation" *ngIf="changePwdConFormData.get('password').touched && changePwdConFormData.get('password').hasError('required')">
                New Password is required.
            </div>
              <div class="form-group">
                <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
              </div>
              <div class="alertValalidation" *ngIf="changePwdConFormData.get('confirmPassword').touched && changePwdConFormData.get('confirmPassword').hasError('required')">
                Confirm Password is required.
            </div>
            <div class="alertValalidation" *ngIf="changePwdConFormData.get('confirmPassword').touched && changePwdConFormData.get('password') != changePwdConFormData.get('confirmPassword')">
              Password not matched.
          </div>
            </form>
          </div>
          <div class="modal-footer">
              <div class="btn-group">
                  <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                  <button *ngIf="!showConfirmFields" class="btn btn-primary" (click)="forgotPassword(forgotPwdEmail)">Get Key</button>
                  <button *ngIf="showConfirmFields" type="submit" class="btn btn-primary" [disabled]="changePwdConFormData.invalid" (click)="changePassword()">Submit</button>
              </div>
          </div>

      </div><!-- /.modal-content -->
  </div><!-- /.modal-dalog -->
</div><!-- /.modal -->
