* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .createBookBtn{
    margin-top: 25px;
  }

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.containeralign {
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  .noData{
      color: red;
      font-weight: bold;
  }

  .input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 8px;
}
.radio-css{
    margin: 6px 25%;
}
button:focus {
    outline: 0px auto -webkit-focus-ring-color !important;
}