<h4 align=center>Books Available at : {{libraryName}}</h4>
<form class="login" [formGroup]="formData" (ngSubmit)="addBooksToCart(formData.value)">
<table align=center *ngIf="libraryBooksList.length">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Name</th>
      <th>Language</th>
      <th>Author</th>
      <th>Category</th>
      <th>Publisher</th>
      <th>Copies Available</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of libraryBooksList; index as i">
      <td>{{i+1}}</td>
      <td> <input type="checkbox" formControlName="bookId"> {{data.title}} </td>
      <td>{{data.languageName}}</td>
      <td>{{data.authorName}}</td>
      <td>{{data.categoryName}}</td>
      <td>{{data.publisherName}}</td>
      <td> {{data.copies}}</td>
    </tr>
  </tbody>
</table>

    <!-- <button type="button" (click) = "displayAddedBooks($event)" class=""> Add To Cart </button> -->


</form>

