<div class="back" align=center>
  <span><b>Available Books</b></span>
  <button type="submit" class="btn btn-primary" (click)="open(content,'Create')">Create Book</button>
</div>
<table datatable *ngIf="booksList.length; else messageall">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Name</th>
      <th>Language</th>
      <th>Author</th>
      <th>Category</th>
      <th>Publisher</th>
      <th>Copies Available</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of booksList; index as i">
      <td>{{i+1}}</td>
      <td> {{data.title | titlecase}} </td>
      <td>{{data.languageName}}</td>
      <td>{{data.authorName}}</td>
      <td>{{data.categoryName}}</td>
      <td>{{data.publisherName}}</td>
      <td> {{data.copies}}</td>
    </tr>
  </tbody>
</table>

<ng-template #messageall>
  <h3 class="clrRed">No Books available!</h3>
</ng-template>
