<!DOCTYPE html>
<html>

<body>
    <div class="modal">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <form [formGroup]="formdata" (ngSubmit)="signUp(formdata.value)">
            <input type="text" name="name" required placeholder="Name" formControlName="name">
            <div class="alertValalidation" *ngIf="formdata.get('name').touched && formdata.get('name').hasError('required')">
                Name is required.
            </div>
            <input type="text" name="email" placeholder="Username" formControlName="email">
            <div class="alertValalidation" *ngIf="formdata.get('email').touched && formdata.get('email').hasError('required')">
                Username is required.
            </div>
            <input type="text" name="mobileNumber" placeholder="Mobile number" formControlName="mobileNumber">
            <div class="alertValalidation" *ngIf="formdata.get('mobileNumber').touched && formdata.get('mobileNumber').hasError('required')">
                Mobile number is required.
            </div>
            <input type="password" name="password" placeholder="Password" formControlName="password">
            <div class="alertValalidation" *ngIf="formdata.get('password').touched && formdata.get('password').hasError('required')">
                Password is required.
            </div>
            <select formControlName="cityName">
                <option *ngFor="let city of getCities()" [value]="city.cityName">{{city.cityName}}</option>
            </select>
            <div class="alertValalidation" *ngIf="formdata.get('cityName').touched && formdata.get('cityName').hasError('required')">
                City is required.
            </div>
            <select formControlName="gender">
                <option [ngValue]="undefined" disabled  selected> Please select one option </option>
                <option *ngFor="let gender of getGenders" [value]="gender">{{gender}}</option>
            </select>
            <div class="alertValalidation" *ngIf="formdata.get('gender').touched && formdata.get('gender').hasError('required')">
                Gender is required.
            </div>
            <div class="clearfix">
                <button type="button" class="cancelbtn">Cancel</button>
                <button [disabled]="formdata.invalid" type="submit" class="submitbtn">Signup</button>
            </div>
        </form>
    </div>
</body>

</html>