table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.alignCenter {
    text-align: center;
}
i {
    color:rgb(13, 105, 224);
    text-decoration: underline;
    font-weight: bold;
}